@{
    Layout = "_Layout";
}

@model UniRegistrar.Models.Course

<h1>Add a new course</h1>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.CourseName)
    @Html.TextBoxFor(model => model.CourseName)

    @Html.LabelFor(model => model.CourseNumber)
    @Html.TextBoxFor(model => model.CourseNumber)

    @Html.Label("Select major")
    @Html.DropDownList("MajorId")

    <input type="submit" value="Add new course"/>
}
<p>@Html.ActionLink("Show all courses", "Index")</p>
<p>@Html.ActionLink("Back to home", "Index", "Home")</p>